{% extends "App1/base.html" %}
{% block content %}

<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Nama Lengkap</td>
            <td>NIM</td>
            <td>Kelas</td>
            <td>Jenis Kelamin</td>
            <td>
                <a href="{% url 'maha_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Tambah Data
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for mahasiswa in maha_list %}
            <tr>
                <td>{{mahasiswa.nama}}</td>
                <td>{{mahasiswa.NIM}}</td>
                <td>{{mahasiswa.kelas}}</td>
                <td>{{mahasiswa.jkelamin}}</td>
                <td>
                    <a href="{% url 'maha_update' mahasiswa.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'maha_delete' mahasiswa.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}